* {
  box-sizing: border-box;
}

body {
  background-color: #abdcff;
}

#root {
  width: 400px;
  background-color: white;
  margin: auto;
  margin-top: 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.navbar {
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background: rgb(233, 109, 113);
  background: radial-gradient(
    circle,
    rgba(233, 109, 113, 1) 0%,
    rgba(250, 215, 161, 1) 100%
  );
  border-radius: 20px 20px 0 0;
}

.navbar-count {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  margin-left: 0.2em;
  background-color: transparent;
  border-radius: 50%;
}

.item-list {
  padding: 0;
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  list-style: none;
}

.item-count {
  display: inline-block;
  text-align: center;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-left: 0.2em;
  color: white;
  background-color: darkorange;
  border-radius: 50%;
}

.item-button button {
  font-size: 1.2rem;
  transition: all 200ms ease-in;
}

.item-button button:last-child {
  font-size: 1.1rem;
}

.item-button button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.item-increase:hover {
  color: green;
}

.item-decrease:hover {
  color: orange;
}

.item-delete:hover {
  color: red;
}

.add-form {
  text-align: center;
  background: rgb(233, 109, 113);
  background: radial-gradient(
    circle,
    rgba(233, 109, 113, 1) 0%,
    rgba(250, 215, 161, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}

.add-input {
  width: 100%;
  height: 1.5rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border: none;
  outline: none;
}

.add-button {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.3rem;
  transition: transform 250ms ease-in;
}

.add-button:hover {
  transform: scale(1.1);
}
